@font-face {
  font-family: "jejuHallasan";
  src: url("../public/font/JejuHallasan/jejuhallasan/JejuHallasan-Regular.ttf");
}
@font-face {
  font-family: "alegreya";
  src: url("../public/font/Alegreya/Alegreya-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "hindSiliguri";
  src: url("../public/font/Hind_Siliguri/HindSiliguri-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #241715;
  --card-color: #f0e5b8;
  --button-color: #e07f61;
  --filter-color: #5a7492;
  --mainTitle-family: "jejuHallasan";
  --text-family: "hindSiliguri";
  --title-family: "alegreya";
}
